[submodule "spdk-rs"]
	path = spdk-rs
	url = ../spdk-rs.git
	branch = feat/interrupt-mode
[submodule "utils/dependencies"]
	path = utils/dependencies
	url = ../mayastor-dependencies.git
	branch = develop
